*.html linguist-vendored
@dev/frontend/homepage/*.html linguist-vendored
@dev/frontend/homepage/*.css linguist-vendored
@dev/frontend/societies/*.html linguist-vendored
@dev/frontend/societies/*.css linguist-vendored