* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    color: #fff;
    background: #0C1032;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    /* backdrop-filter: blur(1px); */
    pointer-events: none;
    overflow: hidden;
}

.container1 {
    height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container1::before {
    content: '';
    position: absolute;
    width: 14.875rem;
    height: 14.375rem;
    flex-shrink: 0;
    border-radius: 50%;
    background-image: linear-gradient(#fcd200, #fc002e);
    transform: translate(-451px, -220px);
    box-shadow: 10px -15px 20px 0px rgba(0, 0, 0, 0.7) inset
}

.container1::after {
    content: '';
    position: absolute;
    width: 14.875rem;
    height: 14.375rem;
    flex-shrink: 0;
    border-radius: 50%;
    background-image: linear-gradient(#960DD7, #0F19F6);
    transform: translate(456px, 130px);
    box-shadow: 10px -15px 20px 0px rgba(0, 0, 0, 0.7) inset
}

.box1 {
    content: '';
    position: absolute;
    width: 1.9375rem;
    height: 1.9375rem;
    flex-shrink: 0;
    border-radius: 50%;
    background-image: linear-gradient(#F7520B, #F74747);
    transform: translate(510px, -197px);
    box-shadow: 2px -3px 11px 0px rgba(0, 0, 0, 1) inset;
}

.box2 {
    content: '';
    position: absolute;
    width: 1.9375rem;
    height: 1.9375rem;
    flex-shrink: 0;
    border-radius: 50%;
    background-image: linear-gradient(#CE0FED, #BA0DD7, #7C13E5);
    transform: translate(-523px, 160px);
    box-shadow: 2px -3px 11px 0px rgba(0, 0, 0, 1) inset;
}

.box {
    position: absolute;
    width: 68.94%;
    height: 72.36%;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: linear-gradient(138deg, rgba(253, 247, 247, 0.06) 0%, rgba(88, 82, 82, 0.06) 100%);
    box-shadow: -29px -18px 37px -5px rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(12.5px);
    transform: translate(-50%, -68%);
    z-index: 10;
    top: 50%;
    left: 50%;
}
