*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color:#11001F;
    overflow-x: hidden;
}

.cards
{
    position: relative;
    width: 20.4375rem;
    height: 25.375rem;
    flex-shrink: 0;
    background: repeating-conic-gradient(from var(--a), #D100D1 0%, #D100D1 0%, transparent 0%, transparent 40%, #D100D1 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
    backdrop-filter: 25px;
}
@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate 
{
    0%
    {
        --a: 0deg;
    }
   100%
   {
        --a: 360deg;
   }
}
.cards::before{
    content:'';
    position:absolute;
    width: 100%;
    height:100%;
    background: repeating-conic-gradient(from var(--a), #0015D1 0%, #0015D1 0%, transparent 0%, transparent 40%, #0015D1 50%);
    animation: animate 4s linear infinite;
    animation-delay: 1s;
    border-radius: 20px;
}
.cards::after{
    content: '';
    position: absolute;
    inset: 0.25rem;
    background: #0b0b0b;
    border-radius: 20px;
    border: 8px solid #17022b;
}
img{
    border-radius: 50%;
    position: relative;
    width: 5.85rem;
    height: 5.85rem;
    flex-shrink: 0;
    z-index: 2;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .content{
    z-index: 2;
    position:relative ;
  }
  .soc-name{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: wheat;
    position: relative;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .soc-desc{
    color: whitesmoke;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .sec-head{
    color: beige;
    font-weight: 500;
  }
  .sec-name{
    color: rgb(174, 183, 183);
    margin-top: 0.25rem;
  }

  @media (max-width: 768px) {
    .cardg{
        margin-left: 8.3rem;
        margin-right: 8.3rem;
        
    }
    .cards{
        
        flex-wrap: wrap;
        
    } 
  }
@media (max-width: 1024px) {
    .cards{
        /* flex:33.33%; */
        flex-wrap: wrap;
    }
    .cardg{
        margin-left: 7.3rem;
        margin-right: 7.3rem;
    }
}

