
h1,h3,p {
    color: white;
}
.curve{
    padding-top: 30px;
    width: 15.9375rem;
    height: 15.9375rem;
    flex-shrink: 0;
    position: relative;
    /* overflow: hidden; */
    border-radius: 6.25rem 0rem;
    background: linear-gradient(43deg, #A8A4A4 4.29%, rgba(255, 255, 255, 0.00) 53.27%);
    /* background-color: inherit; */
    z-index: 10;
}
.img {
    /* display: inline-flex;
    width: 80%;
height: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 6.25rem 0rem;
background: #8F8D8E;
position: relative; */
width: 14.9375rem;
height: 14.9375rem;
object-fit: cover;
border-radius: 6.25rem 0rem;
padding-left: 16px;
} 

.card {
    /* width: 15.9375rem;
    height: 7rem; */
    width: 15.9375rem;
    height: 5.6rem;
    display: inline-flex;
    /* padding: 2.4375rem 4.1875rem 1.125rem 1rem; */
    /* align-items: left; */
    background: linear-gradient(99deg, #CE20CE 0%, #641BC2 100%);
}
.rec{
    width: 11.81rem;
height: 8.8125rem;
flex-shrink: 0;
background: #737171;
margin-top: -190px;
margin-bottom: 20px;
margin-left: 50px;
z-index: 10;

}
.content{ 
    margin-top: 50px;
    padding-left: 16px;
    font-size: 20px;
    font-family:cursive ;
}

.main__card {
    margin: 20px;
    position:relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: auto;
    justify-items: center;
    margin-left: auto;
}