*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-image: url(../../public/Asset1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(89, 15, 132); */
    /* position: relative; */
    /* overflow: hidden; */
    background-blend-mode: overlay;

    overflow-x: hidden;
}

.container2{
    width: 100%;
    height: 100vh;
    /* backdrop-filter: blur(1px); */
    pointer-events: none;
    /* overflow-x:hidden; */
}
.container1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}
.container1::before{
    width: 37.6875rem;
    height: 37.6875rem;
    flex-shrink: 0;
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(186, 137, 228, 0.4);
    filter: blur(165.5px);
    transform:translate(55rem,11rem);
}
.container1::after{
    width: 37.6875rem;
    height: 37.6875rem;
    flex-shrink: 0;
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(123, 44, 191, 0.40);
    filter: blur(165.5px);
    transform:translate(-29rem,40rem);
}

.cards
{
    position: relative;
    width: 25.4375rem;
    height: 30.375rem;
    flex-shrink: 0;
    background:repeating-conic-gradient( from var(--a),rgba(255, 255, 255, 1),rgba(0, 98, 216, 1), rgba(255, 255, 255, 1), rgba(227, 25, 146, 1),rgba(255, 255, 255, 1));
    animation: animate 6s linear infinite;
    border-radius: 20px;
    backdrop-filter: 25px;
    box-shadow: 2px 1px 30px 1px rgba(161, 67, 182, 0.5);
}
@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate 
{
    0%
    {
        --a: 0deg;
    }
   100%
   {
        --a: 360deg;
   }
}
.cards::before{
    content:'';
    position:absolute;
    width: 100%;
    height:100%;
    border-radius: 20px;
} 
.cards::after{
    content: '';
    position: absolute;
    inset: 0.25rem;
    background: #0b0b0b;
    border-radius: 20px;
    border: 8px solid #17022b;
}
img{
    border-radius: 50%;
    position: relative;
    width: 6.85rem;
    height: 6.85rem;
    flex-shrink: 0;
    z-index: 2;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .content{
    z-index: 2;
    position:relative ;
  }
  .soc-name{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: wheat;
    position: relative;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .soc-desc{
    color: whitesmoke;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .sec-head{
    color: beige;
    font-weight: 500;
  }
  .sec-name{
    color: rgb(191, 196, 196);
    margin-top: 0.25rem;
  }

  @media (max-width: 768px) {
    .cardg{
        margin-left: 8.3rem;
        margin-right: 8.3rem;
        
    }
    .cards{
        
        flex-wrap: wrap;
        
    } 
  }
@media (max-width: 1024px) {
    .cards{
        
        flex-wrap: wrap;
    }
    .cardg{
        margin-left: 7.3rem;
        margin-right: 7.3rem;
    }
}
